In [ ]:
import pandas as pd

In [ ]:
data1 =pd.read_csv('/content/StudentsPerformance.csv')
data1

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [ ]:
data1.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [ ]:
data1.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

Quetion1

In [ ]:
data1.gender.value_counts().to_frame()

        gender
female     518
male       482

second question

In [ ]:
data1['parental level of education'].value_counts().to_frame()

                    parental level of education
some college                                226
associate's degree                          222
high school                                 196
some high school                            179
bachelor's degree                           118
master's degree                              59

Question 3

In [ ]:
new_data = data1[['gender', 'math score', 'reading score', 'writing score']].groupby('gender').mean()
new_data

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [ ]:
new_data = data1[['test preparation course', 'math score', 'reading score', 'writing score']].groupby('test preparation course').mean()
new_data

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

Question 4

In [ ]:
new_data = data1[['gender', 'math score', 'reading score', 'writing score']].groupby('gender').std()
new_data

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [ ]:
new_data = data1[['test preparation course', 'math score', 'reading score', 'writing score']].groupby('test preparation course').std()
new_data

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [ ]:
data1['math score'].unique

<bound method Series.unique of 0        0
1        8
2       18
3       11
4       22
      ...
995     99
996    100
997    100
998    100
999    100
Name: math score, Length: 1000, dtype: int64>

question 5

In [ ]:
data2=data1.nlargest(100,['math score'])
data2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
949,male,group E,some high school,standard,completed,87,84,76
481,female,group C,bachelor's degree,standard,none,86,92,87
482,female,group E,some college,standard,completed,86,85,91
933,male,group C,bachelor's degree,standard,none,86,83,86
934,male,group C,high school,standard,completed,86,81,80